# -----------------------------------------------------------------------------
# Folders:
#

.settings/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.jar
*.war
*~
.DS_Store
.classpath
.project

!lib/**/*.jar

# -----------------------------------------------------------------------------
# Project Specific:
#

!crowd-simulator.jar

*.drain
*.flow
*.json
*.state
*.static
*.txt
*.xyz
